PORT=3000
DATABASE_URL=postgresql://postgres:kfiruy364jsuq8/%Ghd93jHT%OUyt$R4G@localhost:5432/quantum_btc
NODE_ENV=development

# OpenNode Configuration
OPENNODE_INVOICE_KEY=fdbef346-c937-4382-bdb2-e4f3347529b9
OPENNODE_WITHDRAWAL_KEY=55a1dd05-8635-4a3a-9b81-587d81436998
OPENNODE_HASHED_SECRET=your_opennode_webhook_secret_here

# Optional/Other
ANU_API_KEY=JaxnR000Q65bcDbREZ5gD757anS0GZDA9sYJIr32
SESSION_SECRET=super_secret_session_key_min_32_chars
